
<div>

    <template v-if="component.vars.length">

        <h4 v-permalink:variables="route">Component variables</h4>

        <javascript-options :options="component.vars"></javascript-options>

        <template v-if="component.theme.length">
            <h4 v-permalink:theme-variables="route">Theme variables</h4>

            <javascript-options :options="component.theme"></javascript-options>

        </template>

        <h4 v-permalink:hooks="route">Component hooks</h4>

        <div v-if="component.hooks.length" class="uk-overflow-auto">
            <table class="uk-table uk-table-striped">
                <thead>
                <tr>
                    <th class="uk-width-1-2">Hook</th>
                    <th class="uk-width-1-2">Selector</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="hook in component.hooks">
                    <td><code>{{ hook.name }}</code></td>
                    <td>{{ hook.selector }}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </template>

</div>
